<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">

    <title>Explore Pakistan</title>
    <style>
        body {
            background-color: #808080;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }
    
        .navbar {
            background-color: #5A5A5A;
        }
    
        .navbar-light .navbar-brand,
        .navbar-light .navbar-nav .nav-link {
            color: white; /* Set the text color to white */
        }
    
        h2 {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    
        .container {
            max-width: 800px;
            margin: 20px auto 0;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-black navbar-light">
        <div class="container-fluid">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx6aOtcTAovJZ_2f-ivVqtql6oaUjYlXI-5jEytNo30zkbBIPB2yBgF1FWoAMOgSZwUY0&usqp=CAU" alt="logo" length="40" width="40">
            <a class="navbar-brand" href="#">Explore Pakistan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="culture.html">Culture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="geography.html">Geography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="history.html">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="economy.html">Economy</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="False">
                            Cities
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="explore_cities.html">Explore Cities</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="islamabad.html">Capital:Islamabad</a></li>
                            <li><a class="dropdown-item" href="karachi.html">karachi</a></li>
                            <li><a class="dropdown-item" href="lahore.html">Lahore</a></li>
                            <li><a class="dropdown-item" href="multan.html">Multan</a></li>
                            </li>
                        </ul>
                </ul>	
                </form>
            </div>
        </div>
    </nav>
    <div class = "container"> 
        <center>
        <w><h5>Capital  of Pakistan:<br>Islamabad:</h5>Islamabad Capital Territory, located on the Pothohar Plateau of the northern Punjab region, is considered one of the earliest sites of human settlement in Asia.Islamabad is known its parks and forests, including the Margalla Hills National Park and the Shakarparian. It is home to several landmarks, including the country's flagship Faisal Mosque, which is the world's fifth-largest mosque. Other prominent landmarks include the Pakistan Monument and Democracy Square.<br></w>
        <img src="https://3.bp.blogspot.com/-ltkqN2ZdH5c/ToiK2kNyE9I/AAAAAAAAAt4/TTlMZxHfHko/s1600/1468131101_a4fc1f1349_b.jpg" alt="faisal mosque" length="300" width="300">&#160;&#160;<img src="https://i.pinimg.com/736x/ee/51/e1/ee51e1b569b29c23df8f787970ee5e76.jpg" alt="buildings" length="270" width="270"><br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjUlWAHzzFJzUskmT_iwFRx7AyBprNBRy5Mw&usqp=CAU" alt="night view" length="300" width="300">&#160;&#160;<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Blue_Hour_at_Pakistan_Monument.jpg/1200px-Blue_Hour_at_Pakistan_Monument.jpg" alt="monument" length="270" width="270">
        <h5>Karachi:</h5>Karachi is the capital city of the Pakistani province of Sindh. It is the largest city in Pakistan and 12th largest in the world.the biggest metropolitan city of Pakistan, is known for its diverse culture, advanced education system, rich cuisine, historical sites, best shopping malls, top cinemas and various farmhouses, and, of course, the beautiful deep blue sea.<br></w>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOso8uC-7dNkuZVJfNJ8OumVBu_ZnsoPVQuQ&usqp=CAU" alt="sea" length=300 width=265>&#160;&#160;<img src="https://live.staticflickr.com/3531/3231655121_e6dfdd844c_b.jpg" alt="seaview" length=250 width=298><br>
        <img src="https://imagevars.gulfnews.com/2021/06/16/Stock-Karachi-city-skyline_17a154cf36b_medium.jpg" alt="jaga" length=300 width=265>&#160;&#160;<img src="https://media.istockphoto.com/id/184944186/photo/quaid-e-azam.jpg?s=612x612&w=0&k=20&c=7mRHDKfBWbpmiTto_w_oMm4EeboU9tEDO_JXke01P5I=" alt="mazar" length=280 width=298><br>
        <w><h5>Lahore:</h5>lahore is the captial and largest city of the Pakistani province of Punjab. It is the second largest city in Pakistan, after Karachi, and 26th largest in the world, with a population of over 13 million. It is located in the north-eastern region of Punjab, along the River Ravi. Lahore is one of Pakistan's major industrial and economic hubs.It has been the historic capital and cultural centre of the wider Punjab region, and is one of Pakistan's most socially liberal, progressive, and cosmopolitan cities.</w>
        <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpQZIeQvxpWAHQP2J2tZjP5q_2IzRYjj0FTTCzMpb_YXbY6zsnDSxgmRxiC8xH2F8jgkk&usqp=CAU" alt="uni" length=300 width="300">&#160; &#160;<img src="https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2022/01/Body-1-1024x640.jpg" alt="road" length=200 width=300><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Badshahi_Mosque_front_picture.jpg" alt="badshahi-mosque" length=200, width="300">&#160;&#160;
        <img src="https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2022/03/Body-2-7-1024x640.jpg" alt="minaar" length=200 width=300>
        <h5>Multan:</h5><w>In the Punjab on the banks of the Chenab River, Multan is almost in the centre of Pakistan, and one of the oldest cities in Asia. It's famous for its mosques and shrines as well as its cotton crops and fruit - especially mangoes..Multan is a city in the Punjab Province of Pakistan, and capital of Multan District. It is located in the southern part of the province, and is steeped in history. It has a population of over 3.8 million (according to 1998 census), making it the sixth largest city in Pakistan.</w>
        <br><img src="https://res.cloudinary.com/raastay/images/f_auto,q_auto/v1626425459/resized-image-Promo-2021-07-16T135019.851/resized-image-Promo-2021-07-16T135019.851.jpeg?_i=AA" alt="white-pic" length="300" width="300">&#160;&#160;<img src="https://2.bp.blogspot.com/-mo8-v-qZ4fw/UvFcBFPQhtI/AAAAAAAAEpY/iyLSmGiEN-0/s1600/nkroc2sl.jpg" alt="uni" legth="275" width="275">
        <br><img src="https://multan.punjab.gov.pk/system/files/multan-fort_0.jpg" alt="multan" length="300" width="300">&#160;&#160;<img src="https://www.zameen.com/blog/wp-content/uploads/2020/01/image-2120-d-1024x640.jpg" alt="uni" length="300" width="280">
        </center>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    -->
    <center><w><br><b>Designed and developed by "Asawer Javed".</b></w></center>
</body>

</html>